$color_white: #ffffff;
$color_black: #000000;

$color_accent: #21aa7a;

$color_auxiliary: #ef8d49;
$color_auxiliary-Light: #fcf4ee;

$color_primary: #e7f7ea;
$color_primary-Blue: #e5f1f5;

$color_text: #3a393e;
